
/* #5CB85C <-- green dull*/
/* #D9534F <-- red dull*/
/* #EC971F <-- yellow dull*/
@keyframes blinker {  
  50% { opacity: 1; background:#A40000; color:white; }
}

.highlightme { background-color:#FFFF00; }

@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Medium'; /*a name to be used later*/
    src: url('https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2'); /*URL to font*/
}

html {
  position: relative;
  height: 90vh;
  width: 100vw;
  margin: 0px;
  min-height: 100%;
}

body {
  overflow: hidden;
  height:100%;
  padding:10px 10px;
  background-color: #252830;
}

.parent{
 display: flex;
 flex-wrap: wrap;
 flex-direction:column;
 align-content: center;
   border: 0px;   
    margin: 0px;
    height: 100%;
}

.inner{
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  align-content: center;
  border: 0px;
  padding:0px;
  background-color: #252830;
  flex-grow: 1;
    
}

.holder3 {
  border: 0px solid black;
  padding:0;
  margin:0;
  height: 100%;
  min-width: 200px;
  flex-grow: 1;
}

.holder2 {
  border: 0px solid black;
  padding:0px;
  margin:0;
  height: 100%;
  min-width: 1000px;
  width: 1000px;
}

.holder1 {
  border: 0px solid black;
  padding:0;
  margin:0;
  height: 100%;
  min-width: 200px;
  width: 200px;
}

.lg_center {
  animation: none;
  padding-right: -10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  
  border: 3px solid #080808;
  background-color: #888A85;
  font-size: 125%;
  text-transform: uppercase;
  font-family: "Roboto-Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  height: 95%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
}

.lg_center.warning{
    background-color: #FF7701;
    animation: none;
    border: 3px solid #080808;
}

.lg_center.danger{
    background-color: #FF291C;
    border: 3px solid #A40000;
    animation: blinker 0.25s linear infinite;
}

.lg_center.okay{
    background-color: #23A127;
    animation: none;
    border: 3px solid #080808;
}


.sml_holder{
  border: 0px;
  margin: 0px;
  width: 10%;
  height: 50%;
  float: left;
}

.sml_center {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: 2px solid #080808;
  background-color: #888A85;
  font-size: 80%;
  text-transform: uppercase;
  font-family: "Roboto-Medium","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 85%;
  height: 85%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: none; 
}

.sml_center.warning{
	background-color: #FF7701;
	animation: none;
	border: 2px solid #080808;
}

.sml_center.danger{
    background-color: #FF291C;
    animation: blinker 0.25s linear infinite;
    border: 3px solid #A40000;
}

.sml_center.okay{
    background-color: #23A127;
    animation: none;
    border: 3px solid #080808;
}

.console {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2px;
  align-items: bottom;
  opacity: 0.7;
  border: 1px solid #080808;
  background-color: #434857;
  width: 100%;
  height: 95%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);   
}

.alert{
  padding: 1px;
  border: 1px solid #080808;
  background-color: #888A85;
  color: white; 
  font-size: 100%;
  text-transform: capitalize;
  font-family: "Roboto-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 20px;
}

.alert.danger{
  background-color: #FF291C;
}

.alert.warning{
  background-color: #FF7701;
}

.alert.okay{
  background-color: #23A127;
}