<div class="parent">
     <div class="inner">
       <div class="holder1">
           <div class="lg_center" id ="propulsion">Propulsion</div>
       </div>
       <div class="holder2">
       
           <div class="sml_holder">
             <div class="sml_center" id ="rpm">RPM</div>
           </div>

       </div>
       <div class="holder3">
           <div class="console" id ="propulsion_console">
           </div> 
       </div>
     </div>
     
     <div class="inner">
       <div class="holder1">
           <div class="lg_center" id ="power">Power</div>
       </div>
       <div class="holder2">
         <div class="sml_holder">
             <div class="sml_center" id ="batt">BATT</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center">Power</div>
         </div>
       </div>
       <div class="holder3">
           <div class="console" id ="power_console">
           </div> 
       </div>
     </div>
     
     
     <div class="inner">
       <div class="holder1">
           <div class="lg_center" id ="gnc">Guidance<br>&<br>Control</div>
       </div>
       <div class="holder2">
       
         <div class="sml_holder">
             <div class="sml_center" id ="ekf">EKF</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center" id ="ahrs">AHRS</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center" id ="gps">GPS</div>
         </div>

       </div>
       <div class="holder3">
           <div class="console" id ="gnc_console">
           </div> 
       </div>
     </div>
     
     
     <div class="inner">
       <div class="holder1">
           <div class="lg_center" id ="communication">Communication</div>
       </div>
       <div class="holder2">
       
         <div class="sml_holder">
             <div class="sml_center" id ="uhard">uHARD</div>
         </div>
         <div class="sml_holder">
             <div class="sml_center" id ="rfd">RFD</div>
         </div>
         
       </div>
       <div class="holder3">
           <div class="console" id ="communication_console">
           </div> 
       </div>
     </div>
     
     
     
     <div class="inner">
       <div class="holder1">
           <div class="lg_center" id ="totalenergy">Total Energy</div>
       </div>
       <div class="holder2">
       
         <div class="sml_holder">
             <div class="sml_center">Energy</div>
         </div>

       </div>
       <div class="holder3">
           <div class="console" id ="totalenergy_console">
           </div> 
       </div>
     </div>
     
     
     <div class="inner">
       <div class="holder1">
           <div class="lg_center" id ="payload">Payload</div>
       </div>
       <div class="holder2">
       
         <div class="sml_holder">

         </div>
         
       </div>
       <div class="holder3">
           <div class="console" id ="payload_console">
           </div> 
       </div>
     </div>
 </div>